<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="applicationName" value="SKAY-BASE v1.0"/>
		<add key="maxOutputElements" value="40"/>
		<add key="showTime" value="true"/>
		<add key="showApplicationName" value="true"/>
		<add key="showLocalDisksBar" value="true"/>
	</appSettings>
</configuration>